-
	var globals = {
		siteTitle: 'Main page',
		logo: 'assets/img/logo.png',
		logoAlt: 'Logo',
		navmenu: {
			menu: [{
					title: 'Главная',
					url: '/',
					isActive: true,
			}, {
					title: 'Наши кухни',
					url: '/'
			}, {
					title: 'портфолио',
					url: '/'
			}, {
					title: 'о компании',
					url: '/',
			}, {
					title: 'Блог',
					url: '/'
			},
			{
					title: 'бытовая техника',
					url: '/'
			},
			{
					title: 'контакты',
					url: '/'
			}],
		},


		footerMenu: {
			menu: [{
					title: 'Главная',
					url: '/',
			}, {
					title: 'Наши кухни',
					url: '/'
			}, {
					title: 'портфолио',
					url: '/'
			}, {
					title: 'о компании',
					url: '/',
			}, {
					title: 'Блог',
					url: '/'
			},
			{
					title: 'бытовая техника',
					url: '/'
			},
			{
					title: 'контакты',
					url: '/'
			}],
		},


		sliderMain: [{
			imgBg: 'assets/img/main-img-1.jpg',
			imgBgAlt: 'image',
			logoS: 'assets/img/logo-s.png',
			logoSAlt: 'logo',
			description: 'Дизайнерские кухни от 45000 грн',
			title: 'Дизайнерские кухни'
		},
		{
			imgBg: 'assets/img/kitchen-1.jpg',
			imgBgAlt: 'image',
			logoS: 'assets/img/logo-s.png',
			logoSAlt: 'logo',
			description: 'Дизайнерские кухни от 45000 грн',
			title: 'Дизайнерские кухни'
		},
		{
			imgBg: 'assets/img/kitchen-2.jpg',
			imgBgAlt: 'image',
			logoS: 'assets/img/logo-s.png',
			logoSAlt: 'logo',
			description: 'Дизайнерские кухни от 45000 грн',
			title: 'Дизайнерские кухни'
		},
		],

		methodsItems: [{
			img: 'assets/img/reliability.png',
			title: 'Встреча',
			text: 'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе. Такой дизайн пришел в Европу из Японии, где не принято украшать жилище бесполезными предметами....',
			btn: 'Подробно о ТЗ'
		},

		{
			img: 'assets/img/home.png',
			title: 'Рисуем проект',
			text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
			btn: 'Как рисуется проект'
		},

		{
			img: 'assets/img/storage.png',
			title: 'Производство',
			text: 'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе. Такой дизайн пришел в Европу из Японии, где не принято украшать жилище бесполезными предметами....',
			btn: 'Работа в цеху'
		},

		{
			img: 'assets/img/kitchen.png',
			title: 'Монтаж',
			text: 'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе. Такой дизайн пришел в Европу из Японии, где не принято украшать жилище бесполезными предметами....',
			btn: 'Установка кухни'
		},
		],

		review: [{
			img: 'assets/img/user.png',
			user: 'Катерина Межинская',
			soc: 'assets/img/facebook-logo.png',
			text: 'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе. Такой дизайн пришел в Европу из Японии, где не принято украшать жилище бесполезными предметами....',
			decor: 'assets/img/coma.png',
		},

		{
			img: 'assets/img/user.png',
			user: 'Катерина Межинская',
			soc: 'assets/img/facebook-logo.png',
			text: 'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе. Такой дизайн пришел в Европу из Японии, где не принято украшать жилище бесполезными предметами....',
			decor: 'assets/img/coma.png',
		},

		{
			img: 'assets/img/user.png',
			user: 'Катерина Межинская',
			soc: 'assets/img/facebook-logo.png',
			text: 'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе. Такой дизайн пришел в Европу из Японии, где не принято украшать жилище бесполезными предметами....',
			decor: 'assets/img/coma.png',
		},

		],

		news: [{
			img: 'assets/img/logo-s.png',
			title: 'Название публикации',
			description:  'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе...',
			bg: 'assets/img/img-1.jpg',
			bgAlt: 'news preview image',
			date: 'Октябрь 27, 2018'
		},
		{
			img: 'assets/img/logo-s.png',
			title: 'Название публикации',
			description:  'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе...',
			bg: 'assets/img/img-2.jpg',
			bgAlt: 'news preview image',
			date: 'Октябрь 28, 2018'
		},
		{
			img: 'assets/img/logo-s.png',
			title: 'Название публикации',
			description:  'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе...',
			bg: 'assets/img/img-3.jpg',
			bgAlt: 'news preview image',
			date: 'Октябрь 28, 2018'
		},
		{
			img: 'assets/img/logo-s.png',
			title: 'Название публикации',
			description:  'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе...',
			bg: 'assets/img/img-4.jpg',
			bgAlt: 'news preview image',
			date: 'Октябрь 1, 2018'
		},
		{
			img: 'assets/img/logo-s.png',
			title: 'Название публикации',
			description:  'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе...',
			bg: 'assets/img/img-2.jpg',
			bgAlt: 'news preview image',
			date: 'Октябрь 2, 2018'
		},
		],

	}
