-
	var globals = {
		siteTitle: 'Main page',
		logo: 'assets/img/logo.png',
		logoAlt: 'Logo',
		navmenu: {
			menu: [{
					title: 'Главная',
					url: 'index.html',
					isActive: true,
			}, {
					title: 'Наши кухни',
					url: 'kitchens.html'
			}, {
					title: 'портфолио',
					url: 'portfolio.html'
			}, {
					title: 'о компании',
					url: 'about.html',
			}, {
					title: 'Блог',
					url: 'blog.html'
			},
			{
					title: 'бытовая техника',
					url: 'household.html'
			},
			{
					title: 'контакты',
					url: 'contacts.html'
			}],
		},


		footerMenu: {
			menu: [{
					title: 'Главная',
					url: 'index.html',
			}, {
					title: 'Наши кухни',
					url: 'kitchens.html'
			}, {
					title: 'портфолио',
					url: 'portfolio.html'
			}, {
					title: 'о компании',
					url: 'about.html',
			}, {
					title: 'Блог',
					url: 'blog.html'
			},
			{
					title: 'бытовая техника',
					url: 'household.html'
			},
			{
					title: 'контакты',
					url: 'contacts.html'
			}],
		},


		sliderMain: [
			{
				imgBg: 'assets/img/main-img-1.jpg',
				imgBgAlt: 'image',
				logoS: 'assets/img/logo-s.png',
				logoSAlt: 'logo',
				description: 'Дизайнерские кухни от 45000 грн',
				title: 'Дизайнерские кухни'
			},
			{
				imgBg: 'assets/img/kitchen-1.jpg',
				imgBgAlt: 'image',
				logoS: 'assets/img/logo-s.png',
				logoSAlt: 'logo',
				description: 'Дизайнерские кухни от 45000 грн',
				title: 'Дизайнерские кухни'
			},
			{
				imgBg: 'assets/img/kitchen-2.jpg',
				imgBgAlt: 'image',
				logoS: 'assets/img/logo-s.png',
				logoSAlt: 'logo',
				description: 'Дизайнерские кухни от 45000 грн',
				title: 'Дизайнерские кухни'
			},
		],

		sliderAbout: [
			{
				imgBg: 'assets/img/about-bg.jpg',
				imgBgAlt: 'image',
				logoS: 'assets/img/logo-s.png',
				logoSAlt: 'logo',
				description: 'SHIMKO KITCHEN FURNITURE',
				title: 'О КОМПАНИИ'
			},
			{
				imgBg: 'assets/img/about-bg.jpg',
				imgBgAlt: 'image',
				logoS: 'assets/img/logo-s.png',
				logoSAlt: 'logo',
				description: 'SHIMKO KITCHEN FURNITURE',
				title: 'О КОМПАНИИ'
			},
			{
				imgBg: 'assets/img/about-bg.jpg',
				imgBgAlt: 'image',
				logoS: 'assets/img/logo-s.png',
				logoSAlt: 'logo',
				description: 'SHIMKO KITCHEN FURNITURE',
				title: 'О КОМПАНИИ'
			},
		],

		sliderVideo: [
			{
				videoIframe: 'https://www.youtube.com/embed/GNpeQQdmSOM',
				// videoAncor: 'https://www.youtube.com/watch?v=X9IQ9Y93XBk',
			},{
				videoIframe: 'https://www.youtube.com/embed/GVhloDhlFAA',
				// videoAncor: 'https://www.youtube.com/embed/GNpeQQdmSOM',

			},{
				videoIframe: 'https://www.youtube.com/embed/HgzGwKwLmgM',
				// videoAncor: 'assets/img/about-bg.jpg',
			},
		],

		methodsItems: [
			{
				img: 'assets/img/reliability.png',
				title: 'Встреча',
				text: 'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе. Такой дизайн пришел в Европу из Японии, где не принято украшать жилище бесполезными предметами....',
				btn: 'Подробно о ТЗ'
			},

			{
				img: 'assets/img/home.png',
				title: 'Рисуем проект',
				text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
				btn: 'Как рисуется проект'
			},

			{
				img: 'assets/img/storage.png',
				title: 'Производство',
				text: 'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе. Такой дизайн пришел в Европу из Японии, где не принято украшать жилище бесполезными предметами....',
				btn: 'Работа в цеху'
			},

			{
				img: 'assets/img/kitchen.png',
				title: 'Монтаж',
				text: 'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе. Такой дизайн пришел в Европу из Японии, где не принято украшать жилище бесполезными предметами....',
				btn: 'Установка кухни'
			},
		],


		aboutItems: [
			{
				img: 'assets/img/sketchbook.png',
				title: 'Проект',
				text: 'создает дизайнер-конструктор - он стоит у основания процесса. Замеры, подбор материалов, зонирование - всем этим занимается Шимко Антон'
			},

			{
				img: 'assets/img/sketch.png',
				title: 'Конструирование',
				text: 'важный этап изготовления мебели, мы уделяем ему особое внимание. Составляет проекты (в AUTOCAD) Кравец Сергей',
			},

			{
				img: 'assets/img/operation.png',
				title: 'Изготовление заготовок',
				text: 'Изготовление заготовок требует наиболее сложных технологических процессов, которыми занимаются наши лучшие подрядчики'
			},

			{
				img: 'assets/img/options.png',
				title: 'Сборка и установка',
				text: 'включает в себя предварительную сборку и упаковку в цеху, последующую установку на объекте. Сикорские Сергей и Руслан обеспечивают аккуратность и чистоту выполнения работы',
			},
		],

		review: [
			{
				img: 'assets/img/user.png',
				user: 'Катерина Межинская',
				soc: 'assets/img/facebook-logo.png',
				text: 'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе. Такой дизайн пришел в Европу из Японии, где не принято украшать жилище бесполезными предметами....',
				decor: 'assets/img/coma.png',
			},

			{
				img: 'assets/img/user.png',
				user: 'Катерина Межинская',
				soc: 'assets/img/facebook-logo.png',
				text: 'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе. Такой дизайн пришел в Европу из Японии, где не принято украшать жилище бесполезными предметами....',
				decor: 'assets/img/coma.png',
			},

			{
				img: 'assets/img/user.png',
				user: 'Катерина Межинская',
				soc: 'assets/img/facebook-logo.png',
				text: 'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе. Такой дизайн пришел в Европу из Японии, где не принято украшать жилище бесполезными предметами....',
				decor: 'assets/img/coma.png',
			},
		],

		news: [
			{
				img: 'assets/img/logo-s.png',
				title: 'Название публикации',
				description:  'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе...',
				bg: 'assets/img/img-1.jpg',
				bgAlt: 'news preview image',
				date: 'Октябрь 27, 2018'
			},
			{
				img: 'assets/img/logo-s.png',
				title: 'Название публикации',
				description:  'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе...',
				bg: 'assets/img/img-2.jpg',
				bgAlt: 'news preview image',
				date: 'Октябрь 28, 2018'
			},
			{
				img: 'assets/img/logo-s.png',
				title: 'Название публикации',
				description:  'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе...',
				bg: 'assets/img/img-3.jpg',
				bgAlt: 'news preview image',
				date: 'Октябрь 28, 2018'
			},
			{
				img: 'assets/img/logo-s.png',
				title: 'Название публикации',
				description:  'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе...',
				bg: 'assets/img/img-4.jpg',
				bgAlt: 'news preview image',
				date: 'Октябрь 1, 2018'
			},
			{
				img: 'assets/img/logo-s.png',
				title: 'Название публикации',
				description:  'Сегодня это обозначение используется для функционального стиля в интерьере, где все подчинено лаконичной гармонии, сдержанности и принадлежности человека природе...',
				bg: 'assets/img/img-2.jpg',
				bgAlt: 'news preview image',
				date: 'Октябрь 2, 2018'
			},
		],

	}
