/*  breadcrumbs */
.breadcrumbs
	position: absolute
	width: 100%
	margin-top: 140px
	z-index: 2

	@media screen and (max-width: 1260px)
		margin-top: 110px

	@media screen and (max-width: 812px)
		margin-top: 97px

	@media screen and (max-width: 600px)
		margin-top: 87px

	.section__wrapper
		max-width: 1445px
		padding: 0 20px

	&-block

		&__list
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: center

			@media screen and (max-width: 600px)
				flex-wrap: wrap

			// @media screen and (max-width: 1260px)
			// 	justify-content: center

		&__item,
		&__link
			font-size: 16px
			font-weight: 300
			line-height: 14.86px
			letter-spacing: 0.75px

			@media screen and (max-width: 600px)
				line-height: normal

		&__link
			// &:first-of-type
			color: $yellow
			// text-decoration: underline
			border-bottom: 1px solid $yellow

			&:hover
				// text-decoration: none
				border-bottom: 1px solid transparent

		&__item
			color: #b9b9b7
			position: relative
			white-space: nowrap

			&:nth-of-type(n+2)
				&::before
					position: relative
					display: inline-block
					margin: 0 2px
					content: ' - '
					color: #b9b9b7

.breadcrumbs + .section
	.section__wrapper
		padding-top: 40px

	.section__wrapper
		@media screen and (max-width: 1260px)
			padding-top: 140px

.breadcrumbs +.section.section-slider
	.section__wrapper
		padding-top: 0

.breadcrumbs ~ .section-slider .slider-main__content
	padding-top: 145px

.breadcrumbs + .section-portfolio,
.breadcrumbs + .section-blog
	.section__wrapper
		padding-top: 187px

		@media screen and (max-width: 1260px)
			padding-top: 120px


.contacts-page
	.breadcrumbs
		margin-top: 139px

		@media screen and (max-width: 1260px)
			margin-top: 110px

		&-block
			&__list
				justify-content: flex-start

				@media screen and (max-width: 1260px)
					justify-content: center
/* breadcrumbs END */
