mixin portfolio(data)
	+b.portfolio-block
		if data
			each item in data
				//- +e('a').item(href="kitchens.html")
				+e.item
					+e.title= item.title

					+e('div').container
						+e.img
							img(src=item.kitchenImage alt="kitchen image")

						+e.text
							+e.logo
								img(src= item.logoS alt=data.logoSAlt)

							+b.portfolio__product
								+e.description
									+e.item фасад низ:
									+e.type ДСП Egger

								+e.description
									+e.item фасад верх:
									+e.type ДСП Egger

								+e.description
									+e.item фурнитура:
									+e.type Blum

								+e.description
									+e.item столешница:
									+e.type На основе ДСП, Egger
