/* logo */

.logo
	display: block
	min-width: 247px
	width: 247px
	// padding: 1.3rem 0 1.1249rem;
	padding: 1vw 0 0.8vw

	@media screen and (max-width: 1920px)
		min-width: 13vw
		width: 13vw

	// @media screen and (max-width: 1024px)
		// width: 200px
		// min-width: 200px
		// padding: 20px
		// position: fixed
		// top: 0
		// left: 0

header .logo
	@media screen and (max-width: 1024px)
		width: 200px
		min-width: 200px
		padding: 20px
		position: fixed
		top: 0
		left: 0
		background: $white
		width: 100%
		overflow: hidden

		img
			width: 200px

	// margin-right: 2.1vw
/*logo  END */
