mixin blog(data)
	+b.blog-block.grid
		if data
			each item in data
				+e.item.masonry-grid-item

					+e('div').container
						+e.img.parallax-window
							img(src=item.kitchenImage alt="kitchen image")
							+b-btnsCommonTransparentReadMore()

						+e.text-block
							+e.title= item.title
							+e.date= item.date
							+e.text= item.text

	+b-btnsMore()
