mixin single()
	+b.single__block
		+b('span').large-text Изготовим по вашим размерам
		+b('h2').second-heading
			| 4 кухни в самых актуальных стилях
		+e('p').text
			|	Следуя последним тенденциям моды мы разработали 4 модели функциональных и практичных кухонь в наиболее популярных стилях. Для каждой мы подобрали лучшие материалы по соотношению цена-качество. Вам не придется разбираться в тысячах разновидностей - за многолетний опыт изготовления кухонь мы использовали различные материалы, и теперь готовы предложить вам лучшие варианты.