mixin b-btnsIndividualOrder()
	+b('button').btn.btn-yellow.order-individual
		+e('span').item ИНДИВИДУАЛЬНЫЙ ЗАКАЗ



mixin b-btnsCommonTransparent()
	+b('button').btn.btn-transparent.works
		+e('span').item Наши работи

mixin b-btnsCommonTransparentMore()
	+b('button').btn.btn-transparent.more
		+e('span').item Узнать больше


mixin b-btnsCommonTransparentDeatails()
	+b('a').btn.btn-transparent.more(href='')
		+e('span').item Подробнее

mixin b-btnsIndividualNews()
	//- +b('button').btn.btn-yellow
	//- 	+e('span').item ВCE НОВОСТИ

	+b('a').btn.btn-yellow
		+e('span').item ВCE НОВОСТИ

mixin b-btnsMore()
	+b('a').btn.btn-yellow
		+e('span').item БOЛЬШЕ
