mixin nav-menu(navmenu)
	+b('nav').nav
		+e('ul').menu
			if globals.navmenu.menu
				each item in globals.navmenu.menu
					+e('li').item(class = item.isActive ? 'active' : '')
						+e.link(href=item.url)= item.title

		+b-btnsIndividualOrder()
		+lang()


mixin footer-menu(footerMenu)
	+b('nav').nav
		+e('ul').menu
			if globals.footerMenu.menu
				each item in globals.footerMenu.menu
					+e('li').item
						+e.link(href=item.url)= item.title