extends main

append params
	- page = 'blog-page'
	- pageTitle = 'Blog'


block main
	block blogParam
		+b.section.breadcrumbs
			+e.wrapper
				+b.breadcrumbs-block
					+e('ul').list
						+e('li').item
							+e('a').link(href="index.html") Главная
						+e('li').item  Блог

		+b.section.section-blog
			+e.wrapper
				+blockHeader(globals.blockHeaderBlog)

				+blog(globals.blogItem)

		+b.section.two-column.contacts-n__section
			+e.wrapper
				+twoColumn()

		+b.section.map
			+e.wrapper
				+map()
