extends main

append params
	- page = 'article-page'
	- pageTitle = 'Article'

block main
	block articleParam
		+b.section.breadcrumbs
			+e.wrapper
				+b.breadcrumbs-block
					+e('ul').list
						+e('li').item
							+e('a').link(href="index.html") Главная

						+e('li').item
							+e('a').link(href="index.html") Блог

						+e('li').item Название статьи

		+b.section.section-slider
			+e.wrapper
				+sliderTop(globals.sliderAbrticle)

		+b.section.section-article
			+e.wrapper
				+b('span').special-title
					| О нас

			+b('h2').second-heading О SHIMKO

			+b('p') По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен. Равным образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание соответствующий условий активизации. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий требуют от нас анализа дальнейших направлений развития. С другой стороны реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянный количественный рост и сфера нашей активности способствует подготовки и реализации форм развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

			+b('p') Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации форм развития. Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации дальнейших направлений развития.


			+b('p') По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен. Равным образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание соответствующий условий активизации. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий требуют от нас анализа дальнейших направлений развития. С другой стороны реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянный количественный рост и сфера нашей активности способствует подготовки и реализации форм развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

			+b('p') Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации форм развития. Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации дальнейших направлений развития.

		+b.section.section-slider__video
			+e.wrapper
				+sliderVideo(globals.sliderVideo)

		+b.section.two-column.contacts-n__section
			+e.wrapper
				+twoColumn()

		+b.section.map
			+e.wrapper
				+map()
