extends main

append params
	- page = 'contacts-page'
	- pageTitle = 'Contacts'


block main
	block contactsParam
		// +b.section.section-slider
		// 	+e.wrapper
		// 		+sliderMain(sliderMain)
		+b.section.breadcrumbs
			+e.wrapper
				+b.breadcrumbs-block
					+e('ul').list
						+e('li').item
							+e('a').link(href="index.html") Главная
						+e('li').item Контакты

		+b.section.two-column.contacts-n__section
			+e.wrapper
				+twoColumn()

		+b.section.map
			+e.wrapper
				+map()
