extends main

append params
	- page = 'index'
	- pageTitle = 'Home'

block main
	+b.section.section-slider
		+e.wrapper
			+sliderMain(globals.sliderMain)

	+b.section.single
		+e.wrapper
			+single(globals.singleSectionMain)

	+b.section.multiple-slider
		+e.wrapper
			+sliderMultiple()

	+b.section.two-column.order
		+e.wrapper
			+order()

	+b.section.methods
		+e.wrapper
			+methods(methodsItems)

	+b.section.review
		+e.wrapper
			+review(review)


	+b.section.news
		+e.wrapper
			+news(news)

	+b.section.two-column.contacts-n__section
		+e.wrapper
			+twoColumn()

	+b.section.map
		+e.wrapper
			+map()
