extends main

append params
	- page = 'portfolio-page'
	- pageTitle = 'Portfolio'


block main
	block portfolioParam
		+b.section.breadcrumbs
			+e.wrapper
				+b.breadcrumbs-block
					+e('ul').list
						+e('li').item
							+e('a').link(href="index.html") Главная
						+e('li').item  Портфолио

		+b.section.section-portfolio
			+e.wrapper
				+blockHeader(globals.blockHeaderPortfolio)

				+portfolio(globals.portfolioItem)

				+b-btnsMore()

		+b.section.two-column.contacts-n__section
			+e.wrapper
				+twoColumn()

		+b.section.map
			+e.wrapper
				+map()
